.column
  display inline-block
  margin 20px
  width 300px
  vertical-align top

table
  width 100%
  border-collapse collapse
  border-spacing 0

tr:nth-of-type(even)
  background #efefef

td
  padding 5px
  text-align center

thead
  font-weight bold

  td
    text-align center

tbody

  td:first-child
    text-align left

  tbody td:last-of-type
    text-align right